@font-face {
    font-family: 'Edo SZ';
    font-style: normal;
    font-weight: normal;
    src: local('Edo SZ'), url('fonts/Edo-SZ.woff') format('woff');
}

@font-face {
    font-family: 'AvantGarde Demi';
    font-style: normal;
    font-weight: normal;
    src: local('AvantGarde Demi'), url('fonts/itc-avant-garde-gothic-demi.woff') format('woff');
}

@font-face {
    font-family: 'Mighty Brush';
    font-style: normal;
    font-weight: normal;
    src: local('Mighty Brush'), url('fonts/MightyBrush.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Regular'), url('fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Thin'), url('fonts/ProximaNovaT-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova Light';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Light'), url('fonts/ProximaNova-Light.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Semibold'), url('fonts/ProximaNova-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Bold'), url('fonts/ProximaNova-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova Extrabold';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Extrabold'), url('fonts/ProximaNova-Extrabld.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova Black';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Black'), url('fonts/ProximaNova-Black.woff') format('woff');
}

body {
    font-family: 'Proxima Nova';
}

.container {
    padding-bottom: 100px;
}

.center {
    text-align: center;
}

.btn-lg {
    display: block;
    margin: auto;
    width: 60%;
    margin-top: 20px;
    background-color: #2654ab;
    border-color: #2654ab;
}

.navbar {
    background: #2654ab;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default:hover .navbar-brand:hover {
    background: #2654ab;
    color: #fff;
}

h4 {
    font-family: 'Proxima Nova Bold';
}

textarea {
    font-family: 'Proxima Nova Light';
}

textarea {
    resize: none;
}

.option-about {
    font-family: 'Proxima Nova Semibold';
}

.save-btn {
    margin-top: 10px;
    background-color: #2654ab;
    border-color: #2654ab;
    color: #fff;
    margin-bottom: 20px;
}

.option-control {
    width: 100%;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    font-family: 'Mighty Brush';
    text-align: center;
    background: #2654ab;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
}

.copyright{
    font-family: 'Proxima Nova';
    margin-left: 10px;
}

.invisible-text{
    height: 0;
}

.edo{
    font-family: 'Edo SZ';
}

.demi {
    font-family: 'AvantGarde Demi';
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .footer {
        position: relative;
    }
}